<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <log4net>
    <logger name="logerror">
      <!--名字叫logerror文件 异常信息 记录错误-->
      <level value="ALL" />
      <!--设置这个类的等级是最低-->
      <appender-ref ref="ErrorAppender" />
      <!--处理程序-->
    </logger>
    <!--记录错误信息,方式是将信息日志写进一个文件中-->
    <appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
      <!--设置文件存储的位置-->
      <param name="File" value="Log\\LogError\\" />
      <!--是否追加到文件(是)-->
      <param name="AppendToFile" value="true" />
      <!--设置最大保存文件数，超出的话根据顺序删除-->
      <param name="MaxBackupIndex" value="5" />
      <!--设置日志文件大小，最大为10240-->
      <param name="MaxFileSize" value="10240" />
      <!--是否用静态文件名(否)-->
      <param name="StaticLogFileName" value="false" />
      <!--设置日期格式-->
      <param name="DatePattern" value="yyyyMMdd&quot;.html&quot;" />
      <!--滚动条设置-->
      <param name="RollingStyle" value="Date" />
      <!--记录异常日志信息的格式-->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="&lt;HR COLOR=red&gt;%n异常时间：%d [%t] &lt;BR&gt;%n异常级别：%-5p &lt;BR&gt;%n异 常 类：%c [%x] &lt;BR&gt;%n%m &lt;BR&gt;%n &lt;HR Size=1&gt;"  />
      </layout>
    </appender>

    <logger name="loginfo">
      <!--名字叫loginfo文件 运行正常 记录信息-->
      <level value="ALL" />
      <appender-ref ref="InfoAppender" />
      <!--处理程序-->
    </logger>
    <!--记录正常信息,方式是将信息日志写进一个文件中-->
    <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
      <!--设置文件存储的位置-->
      <param name="File" value="Log\\LogInfo\\" />
      <param name="AppendToFile" value="true" />
      <!--设置最大保存文件数，超出的话根据顺序删除-->
      <param name="MaxSizeRollBackups" value="5" />
      <!--设置日志文件大小，最大为10240-->
      <param name="MaxFileSize" value="10240" />
      <!--是否用静态文件名(否)-->
      <param name="StaticLogFileName" value="false" />
      <!--设置日期格式-->
      <param name="DatePattern" value="yyyyMMdd&quot;.html&quot;" />
      <!--滚动条设置-->
      <param name="RollingStyle" value="Date" />
      <!--记录日志信息的格式-->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="&lt;HR COLOR=blue&gt;%n日志时间：%d [%t] &lt;BR&gt;%n日志级别：%-5p &lt;BR&gt;%n日 志 类：%c [%x] &lt;BR&gt;%n%m &lt;BR&gt;%n &lt;HR Size=1&gt;"  />
      </layout>
    </appender>
  </log4net>

</configuration>
